body {
    background-color: black;
}

#content {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icons {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    max-width: 220px;
    height: auto; 
    border-radius: 50%;
}

.fa {
    background-color: transparent;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.fa:hover {
    opacity: .5;
}